body {
  margin: 0;
}
header {
  background-color: cadetblue;
  height: 50px;
  margin-bottom: 100px;
}
#window1 {
  border: 1px solid black;
  margin: auto;
  width: 90vw;
  height: 50vh;
}
.sliding-window {
  display: -webkit-inline-box;
  overflow: auto;
  align-items: flex-start;
  position: sticky;
  margin-top: 50px;
  top: 0px;
}
.sliding-window-child {
  display: flex;
  height: 100%;
  width: 100%;
}
#windowchild-1 {
  background-color: yellow;
}
#windowchild-2 {
  background-color: blue;
}
#windowchild-3 {
  background-color: red;
}
